header, footer{
    padding: 5px 0;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    background-color: rgb(63, 62, 62);
}
main{
    width: 400px;
    margin: 0 auto;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
h1 {
    margin: 10px;
    text-align: center;
}
h2{
    border-bottom: 1px solid;
}
img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}
section {
    background-color: gray;
    margin: 20px 0;
    border: 1px solid ;
    padding: 10px;
}
section p{
    margin: 10px;

}